.about{
    &_collapse{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding-inline: 5rem; 
        
        @media (max-width: 480px) {
            padding-inline: 0;
        }
    }
    
}