@import '../../styles/global.scss';


.cart{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $grey;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    justify-content: center;
}
.cartItem{
    text-decoration:none;
    border-radius: 1rem;
    width: 340px;
    height: 340px;
    @media (max-width: 480px) {
            width: 100%;
    }
    :hover{
        cursor: pointer;
    }
    &_img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        display: grid;
        align-items:end;
        
    }
    &_title{
        margin-inline: 1rem;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    .cart {
        justify-content: center;
        background-color: white;
        padding: 0px;
        gap: 1rem;
    }
}
