@import '../../styles/global.scss';

.tags{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 1rem;
    width: 60%;
    span{
        background-color: $fristColor;
        color: white;
        text-align: center;
        border-radius: 0.5rem;
        padding: 0.3em 0.5em;
    }
    
}