@import '../../styles/global.scss';

.logement{
    &_description{
        display: flex;
        justify-content: space-between;
        gap: 5%;
        margin-top: 1rem;
        margin-bottom: 8rem;
        @media (max-width: 600px) {
            flex-direction: column;
        }
        &_collapse{
            width: 50%;
            @media (max-width: 600px) {
            width: 100%;
            }
        }
        
    }
    &_head{
        display: flex;
        margin-top: 3%;
        @media (max-width: 600px) {
            flex-direction: column;
        }
        &_title{
            flex-grow: 1;
            & h1,
            h2{
               color: $fristColor;
               
            }
            & h1{
                font-size: 36px;
                margin: 0;
                margin-bottom: 0.5rem;
                @media (max-width: 600px) {
                    font-size: 20px;
                }
            }
            h2{
                font-size: 20px;
                margin-top: 1%;
                margin-bottom: 4%; 
                @media (max-width: 600px) {
                    font-size: 15px;
                }
            } 
        }
    }
}