$fristColor : #FF6060;
$secondColor : #472222;
$colorLink : #ff6060af;
$grey :#F6F6F6;

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.layout{
    &_hautPage{
      margin-inline: 1rem;  
    }
    
}