$fristColor: #ff6060;
$secondColor: #472222;
$colorLink: #ff6060af;
$grey: #f6f6f6;

body {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.layout {
  min-height:100vh;
  &_hautPage {
    margin-inline: 1rem;
  }
}
