@import '../../styles/global.scss';

.collapse{
    width: 50%;
    overflow: hidden;
    &_title{
        background-color: $fristColor;
        color: white;
        border-radius: 0.3rem;
        padding: 0.6rem;
        margin: 0;
        display: flex;
        justify-content: space-between;
        font-size: 80%;
        @media (max-width: 480px) {
            padding: 0.5rem;
            font-size: 70%;
        }
        & i{
            font-size: 150%;
            cursor: pointer;
        }
    }
    &_content{
        position: relative;
        top:-1.5rem;
        z-index: -1;
        background-color: $grey;
        color: $fristColor;
        padding: 1.5rem;
        border-radius: 0 0 1rem 1rem;
        animation: slide 1s ease-in-out;
    }
    
}

@keyframes slide {
    0%{
      transform: translateY(-100%);    
    }
    100%{
        transform: translateX(0);
    }
     
}