@import '../../styles/global.scss';


.logo_navbar{
    margin-right: auto;

    }

.navbar{
    display: flex;
    align-items: center;
    font-weight: 2400;
    font-size: 20px;
    margin-top: 15px;
    @media (max-width: 600px) {
            font-size: 13px;
    }
    & img{
        height: 68px;
    }
    @media (max-width: 600px) {
        img {
            height: 47px;
    }}
    & a{
        text-decoration: none;
        color:$fristColor;
        margin-left: 5%;
        font-size: 120%;
        @media (max-width: 600px) {
            font-size: 100%;
        }
        &:hover{
            text-decoration: underline;
        }
        &.active{
            text-decoration: underline;
            color: $colorLink;
        }
    }
    
}