.footer{
    background-color: black;
    color: white;
    min-height: 150px;
    text-align: center;
    padding: 1rem;
}
.footer_logo{
    padding: 2rem;
}
.footer_text{
    padding-bottom: 2rem;
}