
.banner{
    position: relative;
    margin-top: 3%;
    min-height: 170px;
    border-radius: 1rem;
    background-color: black;
    @media (max-width: 480px) {
            //min-height: 170px;
    }
    &_img{
        position: absolute;
        inset : 0;
        opacity: 0.8;
        background-position: center;
        background-size: cover;
        border-radius: 1rem;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    &_text{
        position: relative;
        font-size: 200%;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 2;
        @media (max-width: 480px) {
                font-size: 150%;
                padding-left: 0.5rem;
                padding-right: 5rem;
        }
    }
}

