@import '../../styles/global.scss';

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    &_img{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @media (max-width: 600px) {
            margin-top: 7rem;
        }
        & img{
            height: 130px;
            @media (max-width: 600px) {
                height: 90px;
            }
        }
    }
    & p {
        text-align: center;
        color: $fristColor;
        font-weight: 600;
        margin-top: 2rem;
    }
    & a{
        text-decoration: none;
        color:$fristColor;
        text-align: center;
        font-size: 12px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        @media (max-width: 600px) {
            margin-top: 10rem;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}